.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100vw;
  background-color: #e8a87c;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  color: white;
  font-size: 2em;
  z-index: 0;
  font-size: xxx-large;
}

.profile > div > img {
  width: 175px;
}

.profile > div > span {
  font-size: smaller;
}

@media only screen and (min-width: 1024px) {
  .profile {
    font-size: 1.5em;
    max-width: 400px;
  }

 .profile > div > img {
    width: 250px;
  } 
}