nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background: transparent;
  color: #FFFFFF;
  position: absolute;
  padding: 0 1.5em;
  z-index: 2;
  top: 0;
}

#nav-left {
  font-family: 'Bungee', cursive;
}

#nav-right {
  display: none;
}

div > i {
  color: #c38d9e;
  margin: 10px;
}


@media only screen and (min-width: 1024px) {
  nav {
    background: #41b3a3;
    position: fixed;
  }
  
  #nav-left {
    font-size: xxx-large;
  }

  #nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

