nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 24px;
  padding: 0 1.5em;
  z-index: 2;
}

.nav-header {
  font-family: 'Bungee', cursive;
  font-size: xx-large
}

#down-arrow {
  display: flex;
  justify-content: center;
}