.tweet-container {
  border: 5px solid #545454; 
  border-radius: 1em;
  padding: 1em;
  margin: 2em 0;
}

.tweet-container:hover {
  box-shadow: 5px 5px #e8a87c;
}

section > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header >span {
  color: #e27d60;
  font-size: larger;
}

.profile-name {
  display: flex;
  align-items: center;
  gap: 20px;
}

article {
  border-bottom: 5px solid #5D5D5D;
  margin: 2em 0 0 0;
}

article > p {
  margin: 1.5em 1em;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  font-size: medium;
  
}

.icon-group {
  display: flex;
  gap: 10px;
  color: #c38d9e;
}

.icons:hover{
  color: #41b3a3;
}