article {
  border: 5px solid #545454; 
  border-radius: 1em;
  padding: 1em;
  margin: 2em 0;
}

article:hover {
  box-shadow: 5px 5px #e8a87c;
}

section > article > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em;
}

article > header > span {
  color: #e27d60;
  font-size: large;
  margin: 10px 0;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: large;
}

article > p {
  margin: 0;
  padding: 1em 0.5em;
  border-bottom: 5px solid #5D5D5D;
  font-size: smaller;
  overflow-wrap: break-word;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  font-size: medium;
  
}

.icon-group {
  display: flex;
  color: #c38d9e;
}

i:hover {
  color: #41b3a3;
}

@media only screen and (min-width: 1024px) {
  .container {
    top: 120px;
    margin: 40px;
  }

  header > span {
    font-size: larger;
  }

  .profile-header {
    font-size: larger;
    gap: 20px;
  }

  article > header > span {
  font-size: larger;
  }

  article > p {
    margin: 0;
    padding: 1.5em 1em;
    font-size: xx-large;
  }

  footer {
    font-size: large;
  }
}