article {
  border: 5px solid #545454; 
  border-radius: 1em;
  padding: 1em;
  margin: 2em 0;
}

article:hover {
  box-shadow: 5px 5px #e8a87c;
}

section > article > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > span {
  color: #e27d60;
  font-size: larger;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

article > p {
  margin: 0;
  padding: 1.5em 1em;
  border-bottom: 5px solid #5D5D5D;
  font-size: xx-large;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  font-size: large;
  
}

.icon-group {
  display: flex;
  gap: 10px;
  color: #c38d9e;
}

i:hover {
  color: #41b3a3;
}